/* google font import*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Mochiy+Pop+P+One&family=Oswald:wght@200&family=Pacifico&family=Quintessential&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC&family=Koulen&family=Lobster&family=Odibee+Sans&family=Righteous&family=Roboto+Mono:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none;    
  list-style-type:none;
}
/* --------------------------------------------------------resetleme islemi*---------------------------------------------------------*/
  body{
  min-height: 100vh;
  position: relative;
  }

/* ----------------------------------------------------------menü stil işlemleri------------------------------------------------------*/
nav{
  background: rgba(255, 255, 255, 0.5);
}
.collapse>ul{
  padding: 2%;
}
.collapse>ul>li{
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding: 0 40px;
}
nav.sticky{
  background-color: #252525;
  padding-bottom: 30PX;
  transition: 0.6s;
  box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.1);
}
#sss{
  font-size: 18px;
  letter-spacing: 0;
  border-bottom: 1px solid white;
}
#sss:hover{
  cursor: pointer;
  background-color: tomato;
}
.hero-text,html{
  height: 100%;
}
.carousel-item>.buyut{
  height: 100vh;
}
/*-------------------------------------------------------Bitiş//menü stil işlemleri----------------------------------------------------------*/
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
/*----------------------------------------------------------- başlıca ürünlerimiz-------------------------------------------------------*/
.anadiv{
  width: 95%;
  position: relative;
  margin: auto;
  margin-top: 1%;
  padding: 1%;
  
}
.roboto{
  font-family: 'Roboto Mono', monospace;
  line-height: 2;
}
.basurun{
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 5%;
  font-size: 40px;
  font-weight: 900;
}
.card-body>h5{
  font-weight: 800;
  text-align: center;
}
.market{
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 2%;
  font-size: 30px;
  cursor: pointer;
  width: 5%;
  background-color: skyblue;
  border-radius: 10px;
}
.market:hover{
  background: #000;
  color: #fff;
}
.basurun-1,.basurun-2,.basurun-3,.basurun-4{
  width: 95%;
  position: relative;
  margin: auto;
  padding: 1%;
  border: none;
}
.card{
  margin: 4%;
  margin-top: 2%;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.09);
}
.video1{
  width: 80%;
  height: 300px;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 5px;
  
}
.video1:hover{
  cursor: pointer;
  transform: scale(1.05);
}
/*-----------------------------------------------------////başlıca ürünlerimiz BİTİŞ-------------------------------------------------------*/


/*-------------------------------------------------------Neler Yapıyoruz Kısmı------------------------------------------------------------*/
.d-block{
  height: 350px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*-------------------------------------------------------footer style işlemleri-------------------------------------------------------------*/

/* Main Footer */
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #fff;}
.widget li a:hover{ color: #aaa;text-decoration: none;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}

.fa-1 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: #3e3e3e;
    color: #fff;
    padding: 9px;
    border-radius: 5px;
}

#subscribe-box .emailfield {
    margin: auto;
}

input[type="text"] {
    background: rgba(255,255,255,0.075);
    padding: 10px 15px;
    color: #aaa;
    border: 3px solid rgba(0,0,0,0.1);
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
    transition-delay: 0.2s;
    text-align: center;
    width: 100%;
}

input.submitbutton.ripplelink {
    background: #e67e22;
    border: 3px solid rgba(0,0,0,0.1);
    color: #fff;
    border-color: #e67e22;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    transition-delay: 0s;
    width: 100%;
    font-size: 14px;
    /* font-weight: 700; */
    
    transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
    padding: 10px 15px;
    margin-bottom: 16px;
    border-radius: 5px;
}
input.submitbutton:hover{
  background-color: skyblue;
}
.thumb-content ::before {
    content: "\f190";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: #ffffff;
}
/*---------------------------------------------------------bitiş//footer style işlemleri-------------------------------------------------*/

/* ---------------------------------------------------------------responsive tasarım ----------------------------------------------------*/

/* back to top buton responsive işlemleri */
@media screen and (min-width: 500px) {
  #button {
    margin: 30px !important;
  }
}
@media screen and (max-width: 768px) {
  #button {
    display: block !important;
    margin-left: 30% !important;
  }
}
/* --------------------------------------------------tablet tel ekranları için----------------------------------------*/
@media screen and (max-width: 700px) {
  /* anasayfa*/
  .icon-bar{
    display: none !important;
  }
  .market{
    width: 25% !important;
  }
  .basurun{
    font-size: 20px !important;
  }
  .roboto{
    line-height: 1.7 !important;
  }
  .card>img{
    height: 150px !important;
  }
  .carousel-item>.buyut{
    height: 60vh !important;
  }
  .nelbas{
    font-size: 15px !important;
  }
  #sss{
    border-bottom: 1px solid #fff !important;
  }
  /* hakkımızda */
  #t{
    margin-top: 30% !important;
    font-size: 25px !important;
  }
  .hakkimizda-alt>h3{
    margin-top: 8% !important;
    font-weight: 500 !important;
  }
  /* ürünler*/
  .urun-container{
    display: block !important;
    width: 100% !important;
  }
  .kategori{
    width: 80% !important;
    margin: auto !important;
    margin-top: 5% !important;
  }
  .baskategori{
    margin-top: 15% !important;
  }
  /* biz kimiz */
  .flip-card{
    width: 100% !important;
  }
  .takimbaslik{
    margin-top: 30% !important;
    font-size: 30px !important;
  }
  .avatar{
    width: 100px !important;
    height: 120px !important;
  }
  .flip-card-back>.meslek{
    font-size: 20px !important;
  }
  .flip-card-back>p{
    font-size: 12px !important;
  }
  .takim-container{
    width: 88.5% !important;
  }
  /* galeri */
  .galeri-baslik{
    margin-top: 25% !important;
    font-size: 17px !important;
  }
  .galeri-container{
    width: 90% !important;
    margin: auto !important;
    display: block !important;
  }
  .galeri-alt{
    width: 90% !important;
  }
  .galeri{
    width: 75% !important;
    height: 35% !important;
  }
  /*iletisim*/
  .ileti-container{
    width: 90%;
  }
  /*sss*/
  .sss-container{
    width: 100%;
  }
  .sss-alt>div>a{
    font-size: 9px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1198px) {
  .urun-container{
    display: block !important;
    width: 100% !important;
  }
  .kategori{
    width: 80% !important;
    margin: auto !important;
    margin-top: 5% !important;
  }
  .baskategori{
    margin-top: 15% !important;
  }
  .video1{
      height: 200px;
  }
  .h-55{
    font-size: 15px;
  }
  /*iletişim*/
  .ileti-container{
    width: 95%;
    height: 100%;
    overflow: auto;
  }
  .ileti-alt1{
    width: 75%;
  }
  .ileti-alt2{
    width: 85%;
    margin-left: 10%;
    text-align: center;
  }
  .ileti-alt3{
    width: 95%;
   display: block;
   overflow: auto;
    
  }
  iframe{
    width: 70%;
    margin-left: 18%;
  }
  .ileti-p{
    text-align: center;
  }
}
@media screen and (min-width: 1199px) {
  .fa-1{
    margin: 2px !important;
  }
  .collapse>ul>li{
    font-size: 13px !important;
  }
  .sss-alt>div>a{
    font-size: 16px !important;
  }
  .card>img{
    height: 150px !important;
  }
  .nelbas{
    font-size: 15px !important;
  }
  .galeri{
    width: 350px !important;
    height: 300px !important;
  }
  .ileti-container{
    width: 95%;
    height: 100%;
    overflow: auto;
  }
  .ileti-alt3{
    width: 95%;
   display: block;
  }
  iframe{
    width: 70%;
    margin-left: 18%;
  }
}
