{% extends 'blog.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    {% if searched %}
    <h2 style="margin-top: 10%; text-align: center;">'{{searched}}' ile eşleşen sonuçlar
    </h2>
    <br>
    {% for post in data %}
            <div class="card shadow col-md-8 mx-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.date_created }} - <mark><i><b>{{post.author}}</b></i></mark> tarafından yazıldı. </small>
                            <hr>
                            <a style="text-decoration: none;" class="h3" href="{% url 'blog-post-detail' post.id %}">{{ post.title }}</a>
                            <p class="text-justify my-3">
                                {{ post.body }}
                            </p>
                            
                        </div>
                    <a class="btn btn-primary col-md-4 mx-auto" href="{% url 'blog' %}">Geri</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    {% else %}
        <h1 style="margin-top: 15%; text-align: center;">Hey! Herhangi bir konu aramayı unuttun...</h1>
    {% endif %}
{% endblock %}