{% extends 'blog.html' %}
{% block title %}Parola yenileme işlemi {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

 <div style="margin-top: 10%;" class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                  <h4>Parola yenileme işlemi hakkında..</h4>
                  <hr>
                  <div class="alert alert-info">
                   Girmiş olduğunuz E-posta adresine, şifre sıfırlama talimatlarını içeren bir e-posta gönderildi.
                  </div>
                    
                    <hr>   
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}