{% extends 'blog.html' %}
{% block title %}Parola yenileme başarılı{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

 <div style="margin-top: 10%;" class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                  <h4>Şifre sıfırlama başarılı</h4>
                  <hr>
                  <div class="alert alert-info">
                    Şifre sıfırlama işlemi başarılı. Yeni şifreniz ile oturum açın.
                  </div>
                  <a href="{% url 'login' %}">Giriş</a>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}