{% extends 'blog.html' %}
{% block title %}Parola onay sayfası{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

 <div style="margin-top: 10%;" class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                  <h4>Parolayı onayla</h4>
                  <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Onayla">
                    </form>
                    <hr>   
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}