{% extends 'blog.html' %}
{% block title %}Parolanızı Yenileyin{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

 <div style="margin-top: 10%;" class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                  <h4>Parolayı Yenile</h4>
                  <hr>
                  <div class="alert alert-info">
                    E-posta adresinizi girin. Şifreyi sıfırlama talimatlarını içeren bir e-posta gönderilecektir.
                  </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Yenile">
                    </form>
                    <hr>   
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}