{% extends 'blog.html' %}
{% block title %}Hesap/Profil{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin-top: 10%;" class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
               <span class="h4">Hesap</span>
               <!-- Button trigger modal -->
               <span>
                <button type="button" class="btn btn-info btn-sm float-right" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Profili Düzenle
                </button>
                </span>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{ user.profilemodel.image.url }}" alt="profile-img">
                    </div>
                    <div class="col-md-8">
                      <h4>Kullanıcı Adı: {{ user.username }}</h4>
                      <h4>Email: {{ user.email }}</h4>
                    </div>
                </div> 
                    
                </div>
            </div>
        </div>
    </div>
</div>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profil Bilgilerini Düzenle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-thumbnail" src="{{ user.profilemodel.image.url }}" alt="">
            </div>
            <div class="col-md-8">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                  <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}