{% extends 'blog.html' %}
{% block title %}Kayıt Olun{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="cover">
 <div style="margin-top: 10%;" class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-6">
            <div class="card">
                <div class="card-body">
                  <h4>Üye Ol</h4>
                  <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Kayıt ol">
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
{% endblock %}